button.secondary-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #007bff;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

button.secondary-button svg {
  margin-right: 16px;
}

button.secondary-button:hover {
  background: #61a6f0;
}
